/* line 2, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/category_card.scss */
.category-list-container {
  display: flex;
  flex-direction: row;
  margin: 0 200px;
  justify-content: center;
  margin-top: 10px;
}

/* line 10, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/category_card.scss */
.category-list-container button:first-child {
  margin-left: 0;
}

/* line 14, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/category_card.scss */
.category-card-container {
  padding: 20px 30px;
  width: 305px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #E6E9EB;
  color: #2F343B;
}

/* line 29, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/category_card.scss */
.category-card-container:focus {
  outline: 0;
}

/* line 32, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/category_card.scss */
.category-card-container:hover {
  box-shadow: 0px 0px 3px 3px #ccc;
  cursor: pointer;
}

/* line 37, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/category_card.scss */
.category-card-container p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 16px;
  vertical-align: middle;
  text-align: center;
  width: 100px;
}
/* line 1, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.events-list-container {
  margin: 0 190px;
  margin-top: 40px;
  height: auto;
}

/* line 8, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.event-list {
  padding: 0;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 19, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.event-list li {
  list-style: none;
}

/* line 23, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.top-event-card-block {
  margin-left: 25px;
  margin-bottom: 0px;
}

/* line 29, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.top-event-card-block::after {
  clear: both;
  content: "";
  display: block;
}

/* line 35, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.in-image {
  position: relative;
  top: 80px;
}

/* line 41, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.header-icon-box {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 5px;
  margin-right: 8px;
}

/* line 47, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.event-card-image-layer {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* line 56, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.in-image-icon {
  color: white;
}

/* line 60, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.in-image-text {
  position: relative;
  right: 10px;
  top: 5px;
  color: white;
  font-size: 17px;
}

/* line 68, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.event-card-block {
  min-height: auto;
  width: 420px;
  background-color: white;
  border: 1px solid #E6E9EB;
  font-family: 'Roboto Condensed', sans-serif;
}

/* line 79, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.event-list div:nth-child(3n+1) {
  margin-left: 0;
}

/* line 83, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.event-card-image {
  background-size: cover;
  height: 150px;
  width: 100%;
  position: relative;
}

/* line 90, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.event-card-header {
  height: 80px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #E6E9EB;
}

/* line 97, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.event-card-header-block {
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 20px;
  color: #006969;
  font-weight: 700;
  display: flex;
  align-items: center;
  z-index: 5;
}

/* line 111, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.header-icon {
  transform: scale(0.7);
}

/* line 115, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.header-icon:hover {
  -webkit-animation: beat 1s ease;
  animation: beat 0.1s ease;
  fill: red;
}

@keyframes beat {
  100% {
    transform: scale(0.9);
  }
}
/* line 127, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.event-card-header-text {
  margin-left: 14px;
  transform: scaleX(1.2);
  display: inline-block;
}

/* line 133, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.card-detail-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #E6E9EB;
  padding-bottom: 20px;
  padding-top: 10px;
}

/* line 141, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.card-detail-date-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-right: 1px solid #E6E9EB;
}

/* line 150, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.card-detail-day {
  color: #00A1A1;
  font-weight: 600;
  font-size: 28px;
}

/* line 157, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.card-detail-date {
  color: #00A1A1;
  font-weight: 700;
  font-size: 16px;
}

/* line 163, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.card-detail-event-block {
  margin-left: 23px;
  transform: scaleX(1.2);
}

/* line 168, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.card-detail-event-name {
  margin: 0;
  margin-bottom: 2px;
  font-size: 18px;
  color: #085F99;
}

/* line 175, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/event_card.scss */
.card-detail-date-venue {
  font-size: 13px;
  color: #87909A;
}
/* line 1, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/searchbar.scss */
.searchbar-block {
  width: 100%;
  background: #281750;
  height: 50px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 7px;
}

/* line 11, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/searchbar.scss */
.searchbar-container {
  min-width: 200px;
  display: flex;
  justify-content: center;
  width: 38%;
}

/* line 18, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/searchbar.scss */
.searchbar {
  border-style: none;
  font-size: 18px;
  padding: 1px 15px;
  width: 80%;
  height: 44px;
}

/* line 30, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/searchbar.scss */
.searchbar::placeholder {
  color: #ccc;
}

/* line 34, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/searchbar.scss */
.search-icon {
  color: white;
}

/* line 38, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/searchbar.scss */
.icon-container {
  display: flex;
  position: relative;
  bottom: 1px;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 46px;
  padding: 0.7px 0;
  background-color: #D94185;
}

/* line 50, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/searchbar.scss */
.icon-container:hover {
  cursor: pointer;
}
/* line 4, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.modal {
  display: none;
  z-index: 2000;
}

/* line 9, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.modal.is-open {
  display: block;
}

/* line 13, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

/* line 23, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.modal-form-container {
  margin-left: 165px;
  position: relative;
  display: flex;
  width: 380px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  left: 210px;
}

/* line 34, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.modal-form-input-container {
  position: relative;
  top: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

/* line 43, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.modal-form {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -350px;
  width: 750px;
  height: 700px;
  background: #fff;
  z-index: 3;
  border: none;
  background-image: url("modal-splash.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

/* line 59, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.white-box {
  position: absolute;
  background-color: white;
  width: 900px;
  height: 1000px;
  z-index: -1;
  left: 280px;
  transform: rotate(8deg);
}

/* line 69, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.modal-header {
  font-size: 38px;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 50px;
}

/* line 76, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  cursor: pointer;
}

/* line 85, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.modal-close:hover {
  color: #f00;
}

/* line 89, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.input input {
  width: 330px;
  height: 35px;
  margin-top: 10px;
  border-style: none;
  border-bottom: 1px solid #B76281;
  font-size: 20px;
  font-family: serif;
}

/* line 99, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.input input:focus {
  border-bottom: 2px solid #B76281;
  outline: none;
}

/* line 103, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.submit > button {
  width: 320px;
  background-color: #B76281;
  border-style: none;
  color: white;
  font-size: 18px;
  margin-top: 25px;
  padding: 20px;
}

/* line 114, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.submit > button:hover {
  cursor: pointer;
  background-color: #ff5ea7;
}

/* line 119, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.reset-password {
  color: #085F99;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 128, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.reset-password a {
  text-decoration: none;
  color: #085F99;
  font-size: 18px;
}

/* line 134, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.reset-password a:hover {
  cursor: pointer;
}

/* line 138, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.reset-password p {
  margin: 5px 0;
}

/* line 142, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.fb-button {
  color: white;
  width: 320px;
  font-weight: 400;
  background: #4C68A7;
  border: #4267B2;
  border-radius: 1px;
  font-size: 18px;
  padding: 20px;
  position: relative;
}

/* line 154, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.fb-button:hover {
  cursor: pointer;
  background-color: #3F5F99;
}

/* line 159, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.connect-with-fb {
  font-size: 16px;
  color: #aaa;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  position: relative;
  margin-top: 13px;
}

/* line 168, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.hr-divider {
  display: flex;
  flex-direction: row;
  margin-top: 13px;
}

/* line 174, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.hr-divider span {
  transform: scaleY(0.9);
  font-weight: bold;
  color: #aaa;
}

/* line 180, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.hr-divider hr {
  width: 150px;
  margin: 10px;
}

/* line 185, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.sign-up {
  position: relative;
  top: 40px;
  color: #085F99;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}

/* line 194, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.sign-up span {
  color: black;
}

/* line 198, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.sign-up a {
  text-decoration: none;
  color: #085F99;
}

/* line 203, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.sign-in {
  position: relative;
  bottom: 10px;
  color: #085F99;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}

/* line 212, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.sign-in span {
  color: black;
}

/* line 216, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.sign-in a {
  text-decoration: none;
  color: #085F99;
}

/* line 223, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.name-input {
  position: relative;
  right: -5px;
  display: flex;
  flex-direction: row;
  width: inherit;
}

/* line 232, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.name-input input:first-child {
  width: 160px;
}

/* line 236, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.name-input input:first-child {
  margin-right: 10px;
}

/* line 240, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.error-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 11px;
  margin-top: 7px;
}

/* line 248, /home/aaron/full_stack/stubhub_clone/app/assets/stylesheets/session_modal.scss */
.error-list li {
  margin-top: 5px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


@import 'searchbar';
@import 'session_modal';
@import 'category_card';
@import 'event_card';

body, div {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;

}

body {
  background-color: #F6F8F9;
}

.wholenav {
  /*box-sizing: content-box;*/

  display: flex;
  flex-direction: column;
}
/*.nav-bar-background {
  height: 80px;
  width: 100%;
  background-color: #281750;
  position:absolute;
  z-index: -1;

}*/

.navbar {
  padding: 0 200px;
  /*width: 100%;*/
  background-color: #281750;

}

.navbar-left {
  float: left;
  position:relative;
  top: 15px;
}

.navbar-left span {
  color: white;
  font-size: 55px;
  font-family: 'News Cycle', sans-serif;
  z-index: 100;
}

.small-header {
  font-size: 40px !important;
}


.navbar-right {
  display:flex;
  flex-direction: column;
  float:right;
}

.misc-help {
  display: flex;
  flex-direction:row;
  margin: 0;
  max-width: 300px;
  /*justify-content: space-between;*/
  /*float:right;*/
  padding-top: 13px;
  /*margin-left: 140px;*/
  list-style: none;
  padding-left: 200px
}

.misc-help a {
  color: white;
  text-decoration: none;
  /*margin-left: 20px;*/
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  padding-left:15px;
}

.misc-help a:hover {
  color: #62989E;
}

a i {
  padding-right: 10px;
  padding-left: 10px;
}

.sign-in-row {
  display: flex;
  flex-direction:row;
  list-style: none;
  min-width: 400px;
  justify-content: space-between;
  /*float:right;*/
}

.sign-in-row a {
  color: white;
  text-decoration: none;
  /*margin-left: 20px;*/
  font-size: 17px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  /*float:right;*/
}

.sign-in-row li {
  position: relative;
}

.sign-in-row a:hover {
  color: #62989E;
}

.menu-dropdown {
  display: none;
  position: absolute;
  top: 20px;
  min-width: 110px;
  padding: 10px;
  white-space: nowrap;
  padding: 0px;
  background: #00B5B5;
  overflow: hidden;
  list-style: none;
  z-index: 100;
}

.menu-dropdown  li {
  position: relative;
  padding: 20px 30px;
  margin: 0;
  font-size: 16px;
  overflow:hidden;
}

.menu-dropdown li:hover:after {
  transform: translateY(14px) rotateZ(-3deg);
}
.menu-dropdown li:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #CFEB34;
  content: "";
  transform: translate3d(0, 24px, 0) rotateZ(0deg);
  transition: 0.3s transform ease-in-out;
}

.menu-dropdown li:hover {
  background: #00A1A1;
}

.menu-dropdown a:hover {
  color: white;
}

li:hover .menu-dropdown {
  display: block;
}

.filter-block {
  margin: 0 210px;
}

.navbar-date-location-filter-container {
  display: flex;
  flex-direction:row;
  list-style: none;
  min-width: 400px;
  padding-left: 0;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  /*float:right;*/
}

.navbar-date-location-filter-container a {
  color: #2F343B;
  text-decoration: none;
  /*margin-left: 20px;*/
  font-size: 19px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  /*float:right;*/
}
.navbar-date-location-filter-container li {
  position: relative;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 250px;
}

.navbar-date-location-filter-container a i:last-child {
  float: right;
}

.navbar-date-location-filter-container > li:last-child {
  margin-left: 30px;
  border-left: none;
}


.filter-dropdown {
  display: none;
  position: absolute;
  top: -20px;
  min-width: 110px;
  width: 250px;
  padding: 10px;
  white-space: nowrap;
  padding: 0px;
  background: #00B5B5;
  overflow: hidden;
  list-style: none;
  z-index: 100;
}

.filter-dropdown  li {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0;
  font-size: 16px;
}

.filter-dropdown input {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 14;
  padding: 15px 20px;
  border: none;

}

.filter-dropdown input::placeholder {
  font-family: sans-serif;
  color: grey;
  font-size: 17px;
  font-weight: 500;
}


/*.filter-dropdown li:hover {
  background: #00A1A1;
}

.filter-dropdown a:hover {
  color: white;
}*/

li:hover .filter-dropdown {
  display: block;
  border-top: 4px solid #D94185;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);

}

.filter-dropdown button {
  border-style: none;
  box-shadow: 0 0 0 0;
  padding: 15px 20px;
  background-color: white;
  width: 100%;
  color: grey;
  font-size: 17px;
  font-weight: 500;
}

.filter-dropdown button:hover {
  cursor: pointer;
  background-color: pink;
  color: #525252;

}
