/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'session_modal';
@import 'searchbar';
@import 'category_card';

body, div {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F6F8F9;
}

.wholenav {
  /*box-sizing: content-box;*/

  display: flex;
  flex-direction: column;
}
/*.nav-bar-background {
  height: 80px;
  width: 100%;
  background-color: #281750;
  position:absolute;
  z-index: -1;

}*/

.navbar {
  padding: 0 200px;
  /*width: 100%;*/
  background-color: #281750;

}

.navbar-left {
  float: left;
  position:relative;
  top: 15px;
}

.navbar-left span {
  color: white;
  font-size: 55px;
  font-family: 'News Cycle', sans-serif;
  z-index: 100;
}

.small-header {
  font-size: 40px !important;
}


.navbar-right {
  display:flex;
  flex-direction: column;
  float:right;
}

.misc-help {
  display: flex;
  flex-direction:row;
  margin: 0;
  max-width: 300px;
  /*justify-content: space-between;*/
  /*float:right;*/
  padding-top: 13px;
  /*margin-left: 140px;*/
  list-style: none;
  padding-left: 200px
}

.misc-help a {
  color: white;
  text-decoration: none;
  /*margin-left: 20px;*/
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  padding-left:15px;
}

.misc-help a:hover {
  color: #62989E;
}

a i {
  padding-right: 10px;
  padding-left: 10px;
}

.sign-in-row {
  display: flex;
  flex-direction:row;
  list-style: none;
  min-width: 400px;
  justify-content: space-between;
  /*float:right;*/
}

.sign-in-row a {
  color: white;
  text-decoration: none;
  /*margin-left: 20px;*/
  font-size: 17px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  /*float:right;*/
}

.sign-in-row li {
  position: relative;
}

.sign-in-row a:hover {
  color: #62989E;
}

.menu-dropdown {
  display: none;
  position: absolute;
  top: 20px;
  min-width: 110px;
  padding: 10px;
  white-space: nowrap;
  padding: 0px;
  background: #00B5B5;
  overflow: hidden;
  list-style: none;
  z-index: 100;
}

.menu-dropdown  li {
  position: relative;
  padding: 20px 30px;
  margin: 0;
  font-size: 16px;
  overflow:hidden;
}

.menu-dropdown li:hover:after {
  transform: translateY(11px) rotateZ(-1.2deg);
}
.menu-dropdown li:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #CFEB34;
  content: "";
  transform: translate3d(0, 24px, 0) rotateZ(0deg);
  transition: 0.3s transform ease-in-out;
}

.menu-dropdown li:hover {
  background: #00A1A1;
}

.menu-dropdown a:hover {
  color: white;
}

li:hover .menu-dropdown {
  display: block;
}

.filter-block {
  margin: 0 250px;
}

.navbar-date-location-filter-container {
  display: flex;
  flex-direction:row;
  list-style: none;
  min-width: 400px;
  padding-left: 0;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  /*float:right;*/
}

.navbar-date-location-filter-container a {
  color: #2F343B;
  text-decoration: none;
  /*margin-left: 20px;*/
  font-size: 19px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  /*float:right;*/
}
.navbar-date-location-filter-container li {
  position: relative;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 250px;
}

.navbar-date-location-filter-container a i:last-child {
  float: right;
}

.navbar-date-location-filter-container > li:last-child {
  margin-left: 30px;
  border-left: none;
}


.filter-dropdown {
  display: none;
  position: absolute;
  top: -20px;
  min-width: 110px;
  width: 250px;
  padding: 10px;
  white-space: nowrap;
  padding: 0px;
  background: #00B5B5;
  overflow: hidden;
  list-style: none;
  z-index: 100;
}

.filter-dropdown  li {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0;
  font-size: 16px;
}

.filter-dropdown input {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 14;
  padding: 15px 20px;
  border: none;

}

.filter-dropdown input::placeholder {
  font-family: sans-serif;
  color: grey;
  font-size: 17px;
  font-weight: 500;
}


/*.filter-dropdown li:hover {
  background: #00A1A1;
}

.filter-dropdown a:hover {
  color: white;
}*/

li:hover .filter-dropdown {
  display: block;
  border-top: 4px solid #D94185;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);

}

.filter-dropdown button {
  border-style: none;
  box-shadow: 0 0 0 0;
  padding: 15px 20px;
  background-color: white;
  width: 100%;
  color: grey;
  font-size: 17px;
  font-weight: 500;
}

.filter-dropdown button:hover {
  cursor: pointer;
  background-color: pink;
  color: #525252;

}
