.event-show-detail {
  align-items: center;
  padding: 0 200px;
  justify-content: flex-start;
}

.event-show-detail-date-block {
  padding: 17px 26px;
}

.event-show-day-text {
  font-size: 24px;
}

.event-show-date-text {
  font-size: 14px;
}

.event-show-card-block {
  margin-left: 40px;
}

.event-show-detail-name {
  margin-bottom: 9px;
}

.event-show-detail-venue {

}
