.events-list-container {
  margin: 0 190px;
  margin-top: 40px;
  height: auto;
}

.event-list {
  padding: 0;
  height: auto;
  display:flex;
  justify-content: center;
}
.event-list li {
  list-style: none;
}


.event-card-block {
  min-height: 200px;
  width: 420px;
  background-color: white;
  border: 1px solid #E6E9EB;
  float:left;
  margin-left: 25px;
  // overflow:hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

.event-list li:nth-child(3n+1){
  margin-left: 0;
}

.event-card-image {
  background-size: cover;
  height:150px;
  width:100%;
}
