.footer-container {
  font-family: 'Roboto Condensed', sans-serif;
  border-top: 1px solid #E6E9EB;
  margin-top: 100px;
  padding: 40px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 200px;
}

.footer-top > div {
  margin-left: 0;
  min-width: 180px
}

.footer-list-header {
  color: #006969
}

.footer-list {
  list-style: none;
  padding: 0;
  color: #006969;
}

.footer-list li {
  margin-bottom: 13px;
}

.footer-social-icon-row {
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.github-icon {
  width:40px;
  height: 40px;
  background-image: url("github-icon.png");
  background-repeat: no-repeat;
}

.linkedin-icon {
  width:40px;
  height: 40px;
  background-image: url("linkedin-icon.png");
  background-repeat: no-repeat;
}
