.myhub-home-container {
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  justify-content: center;
  background-color: #F6F8F9;
}

.myhub-home-block {
  background-color: #F6F8F9;
  width: 50vw;
  margin-top: 30px;
}

.home-block {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
}

.header-block {
  width: 100%;
  border-bottom: 2px solid #E7EAEC;
  padding-bottom: 8px;
}

.header-block >span {
  font-weight: 700;
  font-size: 18px;
  color: #5C6570;
}

.sale-block {
  width: 45%;
}

.myhub-sales-payments-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
