.user-fav-whole-container {
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

.user-fav-subcontainer {
  margin-top: 15px;
  width: 70;
}

.user-fav-card-list {
  padding: 0;
}

.user-fav-list {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.user-fav-note {
  padding: 10px 0;
  padding-top: 10px;
  border-bottom: 1px solid #E6E9EB;
  color: #87909A;
  margin-bottom: 30px;
}

.user-fav-note span {
  padding: 20px 0;
  padding-left: 50px;
}

.user-fav-subcontainer {
  margin-left: 200px;
}

.user-fav-list button:first-child {
  margin-left: 0;
}


.user-fav-button {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  border: none;
  height: 40px;
  width: 155px;
  margin-left: 20px;
}
