.myhub-home-container {
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  justify-content: center;
  background-color: #F6F8F9;
}

.myhub-home-block {
  background-color: #F6F8F9;
  width: 70vw;
  max-width: 80vw;
  margin-top: 30px;
  // overflow-x: hidden;
}

.home-block {
  background-color: white;
  margin-bottom: 20px;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 300px;
  overflow-x: hidden;
  box-sizing: border-box;
}

.header-block {
  width: 100%;
  border-bottom: 1px solid #E7EAEC;
  padding-bottom: 8px;
}

.header-block >span {
  font-weight: 700;
  font-size: 18px;
  color: #5C6570;
}

.sale-block {
  width: 49%;
}

.myhub-sales-payments-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 0;
  max-height: 300px;
}

.myhub-scroll-container {
  // height: 100%;
  width: 100%;
  // overflow: hidden;
  position: relative;
}

.list-container {
  // padding: 15px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  // overflow-y:scroll;
  // padding-right: 30px;
  overflow-x: hidden;
}

.myhub-list-item {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  justify-content: space-around;
  padding: 16px 0;
  border-bottom: 1px solid #E7EAEC;

}

.list-item-event-name {
  font-size: 18px;
  color: #5C6570
}

.list-item-venue-name {
  font-size: 14px;
  color: #87909A;
}

.list-item-ticket-info {
  padding: 5px 0;
}

.list-item-venue-info {

}

.total-price {
  color: #87909A;
}
