.sell-ticket-whole-container {
  display: flex;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: #525252;
  padding-top: 50px;
}

.sell-ticket-block {

  display: flex;
  flex-direction: column;
  align-items: center
}

.sell-ticket-header {
  font-size: 26px;
  font-weight: 700;
  padding: 15px 0px;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 600px;
  border: 1px #E6E9EB solid;

}

.num-tickets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px #E6E9EB solid;
  padding: 40px 0;
}

.num-tickets-container span {
  padding: 20px 0;
  font-weight: 700;
  font-size: 20px;
}
.seats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  // border-bottom: 1px #E6E9EB solid;
}

.section-row-input-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%
}

.seat-input-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
}

.seat-input-block span {
  font-weight: 700;
  color: #B1BAC2;
  font-size: 18px;
}

.seats-text {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}

.post-ticket-btn-container {
  margin-top: 20px;
  width: 100%;
}

.post-ticket-btn {
  width: 100%;
  border: none;
  height: 45px;
  color: white;
  background-color: #D94185;
  font-size: 19px;
}

.ticket-sale {
  padding-bottom: 5px;
  background-color: #fff;
  width: 100%;
  border: 1px #E6E9EB solid;
  border-bottom: none;
}
